<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hteams">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Hteams"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hteams"
        tools:targetApi="31">
        <activity
            android:name=".Task"
            android:exported="false" />
        <activity
            android:name=".group.GroupPage"
            android:exported="false" />
        <activity
            android:name=".group.AddTask"
            android:exported="false" />
        <activity
            android:name=".Testingfirebase"
            android:exported="false" />
        <activity
            android:name=".group.ListOfClassmate"
            android:exported="false" />
        <activity
            android:name=".Sample"
            android:exported="false" /> <!-- Group -->
        <activity
            android:name=".group.Creategroup"
            android:exported="false" />
        <activity
            android:name=".group.CreateGroup2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Comments"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>